<section class="audience">
    <div class="container">
        <h3 class="audience__title title title_small">
            Аудитория
        </h3>
        <div class="audience__inner">
            <div class="audience__item">
                <p class="audience__item-text">
                    <span>2 млн+</span>
                    ай сайын кіретін<br>
                    адам саны
                </p>
            </div>
            <div class="audience__item">
                <p class="audience__item-text">
                    <span>3,5 млн+</span>
                    ай сайын қаралатын бет<br>
                    саны 
                </p>
            </div>
            <div class="audience__item">
                <p class="audience__item-text">
                    <span>2 минут</span>
                    орташа оқу<br>
                    ұзақтығы
                </p>
            </div>
        </div>
    </div>
</section>