<section class="statistics">
    <div class="container">
        <picture>
            <source srcset="images/statistics-mobile.svg" media="(max-width: 550px)">
            <img src="images/statistics.svg" alt="статистика" class="statistics__image">
        </picture>
        <img src="images/girl.png" alt="девушка" class="statistics__girl-image">
        <picture>
            <source srcset="images/kazakhstan-mobile.svg" media="(max-width: 550px)">
            <img src="images/kazakhstan.svg" alt="Казахстан" class="statistics__kz-image">
        </picture>
    </div>
</section>