*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'NeueMachina', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #555555;
    position: relative;
    background: #FFFFFF;
    &._fixed {
        overflow: hidden;
    }
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #272727;
    padding: 12px 38px;
    text-align: center;
    transition: background-color .3s ease,
        color .3s ease;
    &.button_black {
        background-color: #272727;
        color: #FFFFFF;
        &:hover {
            background-color: #FFF;
            color: #272727;
        }
    }
    &.button_white {
        background-color: #FFFFFF;
        color: #272727;
        &:hover {
            background-color: #272727;
            color: #FFFFFF;
        }
    }
}

.title {
    font-weight: 800;
    font-size: 50px;
    line-height: 1;
    color: #272727;
    &.title_small {
        font-weight: 700;
        font-size: 40px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
